<%= form_with model: model, url: path do |f| %>
  <% if model.errors.any? %>
    <div class="alert alert-danger" style="font-size: 90%" role="alert">
      <ul class="mb-0">
        <% model.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="mt-3">
    <%= f.label :name, class: "form-label" %>
    <div class="input-group">
      <%= f.text_field :name, class: "form-control", placeholder: "〇〇勉強会" %>
    </div>
  </div>
  <div class="mt-3">
    <%= f.label :introduction_url, class: "form-label" %>
    <div class="input-group">
      <%= f.text_field :introduction_url, class: "form-control", placeholder: "https://kc3.me/xxx" %>
    </div>
  </div>

  <div class="mt-3">
    <div class="input-group">
      <%= f.submit "Submit", class: "btn btn-primary mx-auto d-block" %>
    </div>
  </div>
<% end %>